/*Modalità Tablet*/

@media screen and (min-width:768px){


    /*Titolo ed header*/
    h1{
        text-align: start;
        margin-left: 20px;
    }

    .recipe-name-small{
        display: none;
    }

    .recipe-name-big{
        display: block;
    }

    .generals{
        flex-direction: row;
        flex-wrap: wrap;
        gap:50px;
    }

    .generals > *{
        flex-basis: calc(100% / 3 - 50px);
    }

    .social-links-box{
        gap:10px;
        font-size: 20px;
    }

    .social-link{
        padding:10px 50px;
    }

    .advertising{
        display: block;
    }
    

    /* Main*/
    .img-box{
        float: left;
        margin-right: 10px;
    }
    

    /*Footer*/
    .footer-links-list li{
        flex-basis:calc(20% - 20px);
    }


}



/*Modalità Desktop*/
@media screen and (min-width:992px){
    /*Generals*/
    .container:{
        max-width: 80%;
        
    }

    /*Header*/

    .video-schedule-preparation-box{
        display: flex;
    }

    .video-recipe{
        flex-basis: 70%;
    }

    .schedule-recipe{
        flex-basis:30%;
        padding-bottom: 150px;
    }

    .generals{
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .social-name{
        display: inline;
    }

    .social-links-box{
        gap:10px;
    }

    .social-link{
        max-width: calc(100% / 5 - 10px);
        display: flex;
        align-items: center;
        justify-content: center;
        gap:4px;
    }

    /*Main*/



    /*Footer*/

    .box-footer{
        display: flex;
        margin: 0 20px;
        justify-content: space-between;
        align-items: center;
    }

    .address-box > *{
        text-align: start;
    }

    .footer-links-list{
        
        gap:10px;
        
        
    }

    .footer-links-list li{
        flex-basis: calc(100% / 5 - 10px);
    }


}