/*Modalità Tablet*/

@media screen and (min-width:768px){


    /*Titolo ed header*/
    h1{
        text-align: start;
    }

    .recipe-name-small{
        display: none;
    }

    .recipe-name-big{
        display: block;
    }

    .generals{
        flex-direction: row;
        flex-wrap: wrap;
        gap:50px;
    }

    .generals > *{
        flex-basis: calc(100% / 3 - 50px);
    }

    .social-links-box{
        gap:10px;
        font-size: 20px;
    }

    .social-link{
        padding:10px 50px;
    }

    .advertising{
        display: block;
    }
    

    /* Main*/
    .img-box{
        float: left;
        margin-right: 10px;
    }
    

    /*Footer*/
    .footer-links-list li{
        flex-basis:calc(20% - 20px);
    }


}
    
